html {
    background: black;
}

body {
    margin: 0;
}

div.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;

    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale')";
}

#logo {
}

#logo img {
    display: inline-block;
    width: 50%;
}

#tagline {
    display: inline-block;
    background: white;
}

div.countdown {
    font-family: Roboto;
    font-size: 4em;
    color: red;
    opacity: 0.7;
    text-align: center;
    width: 100%;
}

.countdown .days {
    font-size: 2em;
}

.countdown .time {
    font-size: 0.5em;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
}
